#highlightOverlay {
  z-index: 10001;
}

#shepherdOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}

.shepherd-step {
  z-index: 10002;
}

.shepherd-modal.shepherd-enabled {
  position: relative;
  z-index: 10001;
}
