<section
  class="hero docs-flex docs-flex-wrap docs-justify-center"
>
  <div class="section-content docs-mt-8 docs-mb-8 docs-w-full docs-max-w-4xl">
    <div class="docs-flex docs-flex-wrap docs-items-center docs-flex-col-reverse docs-justify-between lg:docs-flex-row">
      <div class="docs-w-full lg:docs-pr-12 lg:docs-w-1/2">
        <div class="docs-max-w-md">
          <div class="docs-max-w-sm docs-mx-auto">
            <h1>
              <span class="docs-max-w-sm">
                {{svg-jar "ember" class="docs-h-full docs-w-auto docs-max-w-full docs-fill-current" height="auto" width="125px"}}
              </span>

              Shepherd
            </h1>

            <p class="docs-mt-4 xl:docs-mt-6 docs-mb-2 docs-leading-small docs-mx-auto docs-tracking-tight
      docs-text-large-1 md:docs-text-large-2 xl:docs-text-large-3">
              An Ember addon for the site tour library Shepherd
            </p>

            <LinkTo
              @route="docs"
              class="docs-no-underline docs-text-brand docs-text-xs docs-px-3 docs-py-2
        docs-rounded docs-mt-4 docs-shadow-md hover:docs-shadow-lg
        docs-transition hover:docs-nudge-t docs-font-bold docs-inline-block docs-uppercase"
            >
              Read the docs →
            </LinkTo>
          </div>
        </div>
      </div>

      <div class="docs-w-full docs-text-center lg:docs-pr-12 lg:docs-w-1/2 lg:docs-p-12">
        {{svg-jar "ember-consulting"}}
      </div>
    </div>
  </div>
</section>