@import "./prism-ghcolors";
@import "./settings";
@import "./foundation";
@import "./fonts";

$background1: #3D2F53;
$background2: #624B86;
$lightColor: #C1B5D3;
$altLightColor: #7B7486;
$whiteish: #C8C7D5;

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
}

body {
  margin: 0;
  background-color: $background1;
  font-family: 'Pier Sans', sans-serif;
}

a {
  &.bottomButton {
    background-color: transparent;
    display: inline-block;
    border: 2px solid $lightColor;
    color: $lightColor;
    padding: 1.25em 1.25em 1em 1em;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 0.7em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    line-height: 1.3em;
    &:hover {
      color: $whiteish;
      border: 2px solid $whiteish;
    }
  }
}

.panel {
  background-color: $whiteish;
  color: $background1;
  font-size: 0.75em;
}

.button.dark {
  background: $lightColor;
  color: #75beaa;
}
@media (max-width: 568px) {
  .button {
    display: block;
    margin: 1em auto 0;
  }
}

.shepherd-element {
  &.shepherd-theme-arrows {
    &.shepherd-element-attached-bottom {
      &.shepherd-element-attached-center {
        .shepherd-content:before {
          bottom: 100%;
          left: 50%;
          margin-left: -16px;
          border-top-color: $background1;
        }
      }
    }
    &.shepherd-element-attached-top {
      &.shepherd-element-attached-center {
        .shepherd-content:before {
          bottom: 100%;
          left: 50%;
          margin-left: -16px;
          border-bottom-color: $background1;
        }
      }
    }
    &.shepherd-has-title {
      header {
        background-color: $whiteish;
        color: $background1;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $background1;
        }
      }
    }
    .shepherd-content {
      background-color: $background1;
      .shepherd-text {
        color: $whiteish;
        a {
          color: $altLightColor;
        }
      }
    }
  }
}

.shepherd-element.shepherd-theme-arrows .shepherd-content {
  width: 400px;
  max-width: 100%;
}

.shepherd-element.shepherd-theme-arrows .shepherd-content a {
  color: inherit;
}

.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background: $background2;
  padding-top: 1em;
  font-size: 0.75em;
  line-height: 0.75em;
}

pre {
  line-height: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.pageTitle {
  color: $lightColor;
  font-size: 50pt;
  .ember-title {
    font-family: 'Pacifico';
  }
}
