@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700|Lobster+Two:400,700);

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  background-color: #62c462;
  background-image: -webkit-linear-gradient(-45deg, #62c462, #75beaa);
  background-image: -moz-linear-gradient(-45deg, #62c462, #75beaa);
  background-image: -o-linear-gradient(-45deg, #62c462, #75beaa);
  background-image: linear-gradient(-45deg, #62c462, #75beaa);
  background-attachment:fixed;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  &.bottomButton {
    background-color: transparent;
    display: inline-block;
    border: 2px solid white;
    color: white;
    padding: 1em 1.25em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    cursor: pointer;
    width: 140px;
    font-size: 0.8em;
    line-height: 1.3em;
    &:hover{
      color: #258a5e;
      border: 2px solid #258a5e;
    }
  }
}

.button.dark {
  background: white;
  color: #75beaa;
}

@media (max-width: 568px) {
  .button {
    display: block;
    margin: 1em auto 0;
  }
}

.shepherd-element.shepherd-theme-arrows.shepherd-transparent-text .shepherd-text {
  color: #3b744f;
}

.shepherd-element.shepherd-theme-arrows .shepherd-content {
  width: 400px;
  max-width: 100%;
}

.shepherd-element.shepherd-theme-arrows .shepherd-content a {
  color: inherit;
}

.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background: #55a892;
}

pre {
  line-height: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.pageTitle {
  color: white;
  font-family: 'Lobster Two', cursive;
}
