@import url(https://fonts.googleapis.com/css?family=Pacifico);

@font-face {
  font-family: 'Pier Sans';
  src: url('../../fonts/PierSans-BoldItalic.eot');
  src: url('../../fonts/PierSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PierSans-BoldItalic.woff') format('woff'),
  url('../../fonts/PierSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Pier Sans';
  src: url('../../fonts/PierSans-Italic.eot');
  src: url('../../fonts/PierSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PierSans-Italic.woff') format('woff'),
  url('../../fonts/PierSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Pier Sans';
  src: url('../../fonts/PierSans.eot');
  src: url('../../fonts/PierSans.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PierSans.woff') format('woff'),
  url('../../fonts/PierSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pier Sans';
  src: url('../../fonts/PierSans-Bold.eot');
  src: url('../../fonts/PierSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PierSans-Bold.woff') format('woff'),
  url('../../fonts/PierSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
