@import url("https://cdn.jsdelivr.net/npm/shepherd.js@14.3.0/dist/css/shepherd.min.css");
@import url("./fonts.css");
@import url("./shepherd-theme.css");

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
}

a,
button {
  transition: 0.25s ease-in-out;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s ease-in-out;
}

.button:hover {
  background: #f3f5f5;
  transform: translateX(10px) translateY(-10px);
}

.demo-page .panel {
  background-color: rgb(248 250 252);
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 0.75em;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  text-align: center;
}

.demo-page .button.dark {
  background: white;
  color: black;
}

@media (width <= 568px) {
  .demo-page .button {
    display: block;
    margin: 1em auto 0;
  }
}

.demo-page .page-title {
  color: black;
  font-size: 50pt;

  .ember-title {
    font-family: Pacifico;
  }
}

@media only screen and (width >= 40.0625em) {
  .demo-page h1,
  .demo-page h2,
  .demo-page h3,
  .demo-page h4,
  .demo-page h5,
  .demo-page h6 {
    line-height: 1.4;
  }

  .demo-page h1 {
    font-size: 2.75rem;
  }

  .demo-page h2 {
    font-size: 2.3125rem;
  }

  .demo-page h3 {
    font-size: 1.6875rem;
  }

  .demo-page h4 {
    font-size: 1.4375rem;
  }

  .demo-page h5 {
    font-size: 1.125rem;
  }

  .demo-page h6 {
    font-size: 1rem;
  }
}

:root {
  --brand-primary: #ef898b;
}

.hero {
  padding: 0 2rem;
}
