@import url(https://fonts.googleapis.com/css?family=Pacifico);
.shepherd-button{background:#3288e6;border:0;border-radius:3px;color:hsla(0,0%,100%,.75);cursor:pointer;margin-right:.5rem;padding:.5rem 1.5rem;transition:all .5s ease}.shepherd-button:not(:disabled):hover{background:#196fcc;color:hsla(0,0%,100%,.75)}.shepherd-button.shepherd-button-secondary{background:#f1f2f3;color:rgba(0,0,0,.75)}.shepherd-button.shepherd-button-secondary:not(:disabled):hover{background:#d6d9db;color:rgba(0,0,0,.75)}.shepherd-button:disabled{cursor:not-allowed}
.shepherd-footer{border-bottom-left-radius:5px;border-bottom-right-radius:5px;display:flex;justify-content:flex-end;padding:0 .75rem .75rem}.shepherd-footer .shepherd-button:last-child{margin-right:0}
.shepherd-cancel-icon{background:transparent;border:none;color:hsla(0,0%,50%,.75);cursor:pointer;font-size:2em;font-weight:400;margin:0;padding:0;transition:color .5s ease}.shepherd-cancel-icon:hover{color:rgba(0,0,0,.75)}.shepherd-has-title .shepherd-content .shepherd-cancel-icon{color:hsla(0,0%,50%,.75)}.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover{color:rgba(0,0,0,.75)}
.shepherd-title{color:rgba(0,0,0,.75);display:flex;flex:1 0 auto;font-size:1rem;font-weight:400;margin:0;padding:0}
.shepherd-header{align-items:center;border-top-left-radius:5px;border-top-right-radius:5px;display:flex;justify-content:flex-end;line-height:2em;padding:.75rem .75rem 0}.shepherd-has-title .shepherd-content .shepherd-header{background:#e6e6e6;padding:1em}
.shepherd-text{color:rgba(0,0,0,.75);font-size:1rem;line-height:1.3em;padding:.75em}.shepherd-text p{margin-top:0}.shepherd-text p:last-child{margin-bottom:0}
.shepherd-content{border-radius:5px;outline:none;padding:0}
.shepherd-element{background:#fff;border-radius:5px;box-shadow:0 1px 4px rgba(0,0,0,.2);margin:0;max-width:400px;opacity:0;outline:none;transition:opacity .3s,visibility .3s;visibility:hidden;width:100%;z-index:9999}.shepherd-enabled.shepherd-element{opacity:1;visibility:visible}.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered){opacity:0;pointer-events:none;visibility:hidden}.shepherd-element,.shepherd-element *,.shepherd-element :after,.shepherd-element :before{box-sizing:border-box}.shepherd-arrow,.shepherd-arrow:before{height:16px;position:absolute;width:16px;z-index:-1}.shepherd-arrow:before{background:#fff;content:"";transform:rotate(45deg)}.shepherd-element[data-popper-placement^=top]>.shepherd-arrow{bottom:-8px}.shepherd-element[data-popper-placement^=bottom]>.shepherd-arrow{top:-8px}.shepherd-element[data-popper-placement^=left]>.shepherd-arrow{right:-8px}.shepherd-element[data-popper-placement^=right]>.shepherd-arrow{left:-8px}.shepherd-element.shepherd-centered>.shepherd-arrow{opacity:0}.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before{background-color:#e6e6e6}.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,.shepherd-target-click-disabled.shepherd-enabled.shepherd-target *{pointer-events:none}
.shepherd-modal-overlay-container{height:0;left:0;opacity:0;overflow:hidden;pointer-events:none;position:fixed;top:0;transition:all .3s ease-out,height 0s .3s,opacity .3s 0s;width:100vw;z-index:9997}.shepherd-modal-overlay-container.shepherd-modal-is-visible{height:100vh;opacity:.5;transform:translateZ(0);transition:all .3s ease-out,height 0s 0s,opacity .3s 0s}.shepherd-modal-overlay-container.shepherd-modal-is-visible path{pointer-events:all}
@font-face {
  font-family: "GT Pressura";
  src:
    url(/1acdb05f974d87b3f452.woff2) format("woff2"),
    url(/89d8bbc1d718d90ab5e4.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src:
    url(/f3290163e60b8a38dca6.woff2) format("woff2"),
    url(/6bc7e4653da0acd69cd1.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.shepherd-logo {
  height: auto;
  width: 217px;
}

.shepherd-logo .lines,
.shepherd-logo .open-eye,
.shepherd-logo .wink {
  transition:
    visibility 0s,
    opacity 0.25s ease-in-out;
}

.shepherd-logo .open-eye {
  opacity: 1;
  visibility: visible;
}

.shepherd-logo .lines,
.shepherd-logo .wink {
  opacity: 0;
  visibility: hidden;
}

.shepherd-logo:hover .lines,
.shepherd-logo:hover .wink {
  opacity: 1;
  visibility: visible;
}

.shepherd-logo:hover .open-eye {
  opacity: 0;
  visibility: hidden;
}

.footer-icon path {
  fill: #16202d;
  transition: 0.25s ease-in-out;
}

.footer-icon:hover path {
  fill: #959fac;
}

.footer-logo {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero-outer .hero-followup {
  padding-top: 20px;
}

pre {
  border: 1px solid rgb(0 0 0 / 15%);
  line-height: 1.4em;
}

.shepherd-button {
  background: #ffffff;
  border-top: solid 4px #16202d;
  border-radius: 0;
  color: #16202d;
  display: flex;
  flex-grow: 1;
  font-family: "GT Pressura", sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.shepherd-button:hover {
  background: #16202d;
  color: #ffffff;
}

.shepherd-button.shepherd-button-secondary {
  background: #cad5d5;
}

.shepherd-button.shepherd-button-secondary:hover {
  color: #cad5d5;
  background: #16202d;
}

.shepherd-cancel-icon {
  font-family: "GT Pressura", sans-serif;
}

.shepherd-element {
  border: solid 4px #16202d;
  padding: 0;
}

.shepherd-element,
.shepherd-header,
.shepherd-footer {
  border-radius: 0;
}

.shepherd-element .shepherd-arrow {
  border-width: 0;
  height: auto;
  width: auto;
}

.shepherd-arrow::before {
  display: none;
}

.shepherd-element .shepherd-arrow::after {
  content: url(/b8c7c6131e8ce155fa3e.svg);
  display: inline-block;
}

.shepherd-element[data-popper-placement^="top"] .shepherd-arrow,
.shepherd-element.shepherd-pinned-top .shepherd-arrow {
  bottom: -35px;
}

.shepherd-element[data-popper-placement^="top"] .shepherd-arrow::after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow::after {
  transform: rotate(270deg);
}

.shepherd-element[data-popper-placement^="bottom"] .shepherd-arrow {
  top: -35px;
}

.shepherd-element[data-popper-placement^="bottom"] .shepherd-arrow::after {
  transform: rotate(90deg);
}

.shepherd-element[data-popper-placement^="left"] .shepherd-arrow,
.shepherd-element.shepherd-pinned-left .shepherd-arrow {
  right: -35px;
}

.shepherd-element[data-popper-placement^="left"] .shepherd-arrow::after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow::after {
  transform: rotate(180deg);
}

.shepherd-element[data-popper-placement^="right"] .shepherd-arrow,
.shepherd-element.shepherd-pinned-right .shepherd-arrow {
  left: -35px;
}

.shepherd-footer {
  padding: 0;
}

.shepherd-footer button:not(:last-of-type) {
  border-right: solid 4px #16202d;
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  margin-top: -7px;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  background: transparent;
  font-family: "GT Pressura", sans-serif;
  padding-bottom: 0;
  padding-left: 2rem;
}

.shepherd-has-title .shepherd-content .shepherd-header .shepherd-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.shepherd-text {
  font-size: 1.2rem;
  padding: 2rem;
}

.shepherd-text a,
.shepherd-text a:visited,
.shepherd-text a:active {
  border-bottom: 1px dotted;
  border-bottom-color: rgb(0 0 0 / 75%);
  color: rgb(0 0 0 / 75%);
  text-decoration: none;
}

.shepherd-text a:hover,
.shepherd-text a:visited:hover,
.shepherd-text a:active:hover {
  border-bottom-style: solid;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
}

a,
button {
  transition: 0.25s ease-in-out;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s ease-in-out;
}

.button:hover {
  background: #f3f5f5;
  transform: translateX(10px) translateY(-10px);
}

.demo-page {
  a {
    &.bottom-button {
      background-color: transparent;
      border: 2px solid black;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-size: 0.7em;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 1.3em;
      padding: 1.25em 1.25em 1em 1em;
      text-decoration: none;
      text-transform: uppercase;
      width: 150px;

      &:hover {
        border: 2px solid white;
        color: white;
      }
    }
  }

  .panel {
    background-color: rgb(248 250 252);
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 0.75em;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    text-align: center;
  }

  .button.dark {
    background: white;
    color: black;
  }

  @media (width <= 568px) {
    .button {
      display: block;
      margin: 1em auto 0;
    }
  }

  pre {
    border: 1px solid rgb(0 0 0 / 15%);
    line-height: 1.4em;
    width: 100%;
  }

  .page-title {
    color: black;
    font-size: 50pt;

    .ember-title {
      font-family: Pacifico;
    }
  }

  @media only screen and (width >= 40.0625em) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.4;
    }

    h1 {
      font-size: 2.75rem;
    }

    h2 {
      font-size: 2.3125rem;
    }

    h3 {
      font-size: 1.6875rem;
    }

    h4 {
      font-size: 1.4375rem;
    }

    h5 {
      font-size: 1.125rem;
    }

    h6 {
      font-size: 1rem;
    }
  }
}

:root {
  --brand-primary: #ef898b;
}

.hero {
  padding: 0 2rem;
}

:root {
  --ember-shiki-padding-x: 24px;
  --ember-shiki-padding-y: 20px;
  --ember-shiki-border-radius: 6px;
  --ember-shiki-background-color: #161b22;
  --ember-shiki-copy-background-color: #161b22;
  --ember-shiki-line-number-color: rgb(115 138 148 / 40%);
  --ember-shiki-font: ui-monospace, sfmono-regular, "SF Mono", menlo, monaco,
    consolas, "Liberation Mono", "Courier New", monospace;
  --ember-shiki-line-number-start: 1;
  --ember-shiki-line-height: 1.7;
  --ember-shiki-font-size: 0.875rem;
  --ember-shiki-icon-copy: url('data:image/svg+xml,<svg fill="none" stroke="rgba(128,128,128,1)" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184"></path></svg>');
  --ember-shiki-icon-copied: url('data:image/svg+xml,<svg fill="none" stroke="rgba(128,128,128,1)" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"></path></svg>');
}

.shiki-code-block {
  overflow: auto;
  font-size: var(--ember-shiki-font-size);
  line-height: var(--ember-shiki-line-height);
  font-family: var(--ember-shiki-font) !important;
}

.shiki-code-block__name,
.code-tab-header {
  background: var(--ember-shiki-background-color);
  color: #fffd;
  padding: var(--ember-shiki-padding-y) var(--ember-shiki-padding-x);
  border-top-left-radius: var(--ember-shiki-border-radius);
  border-top-right-radius: var(--ember-shiki-border-radius);
  border-bottom: 1px solid var(--ember-shiki-line-number-color);
}

.code-tab-header {
  padding: 0 var(--ember-shiki-padding-x);
}

.code-tab-header__name {
  padding: var(--ember-shiki-padding-y) 0;
  margin: 0 8px;
  cursor: pointer;
  display: inline-block;
  opacity: 0.6;
  transition:
    0.1s ease-in-out opacity,
    0.1s ease-in-out border-bottom-color;
  border-bottom: 1px solid transparent;
}

.code-tab-header__name:first-child {
  margin-left: 0;
}

.code-tab-header__name:hover {
  opacity: 1;
}

.code-tab-header__name.active {
  border-bottom-color: white;
  opacity: 1;
}

.code-tab {
  display: none;
}

.code-tab--active {
  display: block;
}

.shiki {
  margin: 0;
  border-radius: var(--ember-shiki-border-radius);
}

.code-tab-container .shiki,
.shiki-code-block__name + .shiki-code-block__code .shiki {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.shiki-code-block__code {
  position: relative;
}

.shiki--loading {
  background-color: var(--ember-shiki-background-color);
  color: white;
}

.shiki code {
  overflow-x: auto;
  display: block;
  font-family: var(--ember-shiki-font) !important;
  font-size: var(--ember-shiki-font-size);
  line-height: var(--ember-shiki-line-height);
  padding: var(--ember-shiki-padding-y) 0;
}

.shiki code .line > span:first-of-type {
  position: relative;
}

.shiki code .line {
  padding: 0 var(--ember-shiki-padding-x);
  box-sizing: border-box;
  display: inline-block;
  min-width: 100%;
}

.line.line--highlight-neutral {
  background-color: var(--ember-shiki-line-number-color);
}

.line.line--highlight-add {
  background-color: rgb(16 185 129 / 20%);
}

.line.line--highlight-add > span:first-of-type::before {
  content: "+";
  color: #10b981;
  text-align: center;
  position: absolute;
  left: -16px;
}

.line.line--highlight-remove {
  background-color: rgb(244 63 94 / 20%);
  opacity: 0.7;
}

.line.line--highlight-remove > span:first-of-type::before {
  content: "-";
  color: #f43f5e;
  text-align: center;
  position: absolute;
  left: -16px;
}

.line-numbers {
  counter-reset: step;
  counter-increment: step calc(var(--ember-shiki-line-number-start, 1) - 1);
}

/*
* Set on first span inside line to it works together with line highlights
*/
.line-numbers code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1em;
  margin-right: 1.5em;
  display: inline-block;
  text-align: right;
  color: var(--ember-shiki-line-number-color);
}

.shiki ::selection {
  background: var(--ember-shiki-line-number-color);
}

.copy-button {
  opacity: 0;
  transition: 0.1s ease-in-out opacity;
  background-image: var(--ember-shiki-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  right: 12px;
  border: 1px solid #222;
  border-radius: calc(var(--ember-shiki-border-radius) - 2px);
  width: 40px;
  height: 40px;
  background-color: var(--ember-shiki-copy-background-color);
  cursor: pointer;
}

.copy-button:hover {
  border-color: var(--ember-shiki-line-number-color);
}

.shiki-code-block__code:hover .copy-button {
  opacity: 1;
}

.copy-button--copied {
  background-image: var(--ember-shiki-icon-copied);
}


/*# sourceMappingURL=chunk.5c841db1a8fbc877f0e6.css.map*/