<div>
  <div class="test-element">
    <span>This is a test element.</span>
  </div>
  <div class="test-element2">
    <span>This is another test element.</span>
  </div>
  {{ember-shepherd tour=tour steps=steps}}
</div>
