<div class="row">
  <div class="medium-8 columns medium-centered text-center">
    <h1 class="pageTitle">Ember-Shepherd</h1>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center first-element">
    <h4>Guide your users through a tour of your app.</h4>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center install-element">
    <h5>Installation</h5>
      <pre><code class="language-bash">ember install:addon ember-shepherd</code></pre>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center usage-element">
    <h5>Usage</h5>
      <pre><code class="language-handlebars">{{usage}}</code></pre>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center usage-element">
    <h5>Additional Features</h5>
      <div class="medium-4 columns panel modal-element">
        Modal
      </div>
    <div class="medium-4 columns panel style-copy-element">
      Style Copy
    </div>
    <div class="medium-4 columns panel built-in-buttons-element">
      Built-in Buttons
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center">
    <a class="bottomButton" {{action 'toggleHelpModal'}}>Modal Demo</a>
    <a class="bottomButton" {{action 'toggleHelpNonmodal'}}>Non-modal</a>
    <a class="bottomButton" href="https://github.com/rwwagner90/ember-shepherd/blob/master/README.md">Docs</a>
    <a class="bottomButton" href="https://github.com/rwwagner90/ember-shepherd">Github</a>
    {{ember-shepherd defaults=shepherdDefaults steps=steps start=showHelp modal=isModal}}
  </div>
</div>
