<div class="row">
  <div class="medium-8 columns medium-centered text-center">
    <h1 class="pageTitle">Ember-Shepherd</h1>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center test-element">
    <div class="panel">
      <span>This is a test element.</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center test-element2">
    <div class="panel">
      <span>This is another test element.</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns medium-centered text-center">
    <button {{action 'toggleHelp'}}>Start</button>
    {{ember-shepherd steps=steps start=showHelp useShadowBox=true}}
  </div>
</div>
