<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    <nav.section @label="Introduction" />
    <nav.item @label="Introduction" @route="docs.index" />
    <nav.item @label="Usage" @route="docs.usage" />

    <nav.section @label="Demo" />
    <nav.item @label="Demo" @route="docs.demo" />

    <nav.section @label="FAQ" />
    <nav.item @label="FAQ" @route="docs.faq" />
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>